@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<DataModel.Product>


<div id="slider">
    <div class="slider-product-info">
        <div class="heading">Dr.Stone</div>
        <div class="desc">Tìm mua truyện giấy tại KimDong.vn</div>
        <a href="/productdetail" class="btn">Xem thông tin</a>
    </div>
</div>


<div id="content">
    <div class="content-title">Mới cập nhật</div>

    <div class="content-container">

        <div ng-repeat="product in products" class="card-product">
            <a href="/home/detail/{{product.Product_id}}">
                <img src="{{product.Image_url}}" alt="{{product.Product_title}}" class="product-img">
            </a>
            <div class="product-info">
                <div class="product-heading">{{product.Product_title}}</div>
                <div class="product-price">
                    Giá bán:
                    @*<span class="product-price-value-strikethrough">{{product.Price}}</span>*@
                    <span class="product-price-value">{{product.Price}}</span>
                </div>
                <div class="product-desc">
                    @*{{product.Description}}*@
                    <div class="btn-buy" ng-click="AddCart(product); plusTotal(product.Price)"><i class="fas fa-shopping-cart"></i></div>
                    <div class="btn-detail"><i class="far fa-eye"></i></div>
                </div>
            </div>
        </div>
    </div>

    <p class="more-product"><a href=""><i class="fas fa-angle-right content-icon"></i>Xem thêm sản phẩm</a></p>


    @* Sản phẩm bán chạy *@
    <!--<hr style="margin-top: 100px; margin-bottom: 20px"/>
    <div class="content-title">Sản phẩm bán chạy</div>

    <div class="content-container">

        <div ng-repeat="product in products" class="card-product">
            <a href="/home/detail/{{product.Product_id}}">
                <img src="{{product.Image_url}}" alt="{{product.Product_title}}" class="product-img">
            </a>
            <div class="product-info">
                <div class="product-heading">{{product.Product_title}}</div>
                <div class="product-price">
                    Giá bán:-->
                    @*<span class="product-price-value-strikethrough">{{product.Price}}</span>*@
                    <!--<span class="product-price-value">{{product.Price}}</span>
                </div>
                <div class="product-desc">-->
                    @*{{product.Description}}*@
                    <!--<div class="btn-buy"><i class="fas fa-shopping-cart"></i></div>
                    <div class="btn-detail"><i class="far fa-eye"></i></div>
                </div>
            </div>
        </div>
    </div>-->
    @*<div class="btn-prev-next-page">
            <button class="prev-page"><i class="fas fa-angle-left content-icon"></i>Trang trước</button>
            <button class="next-page">Trang sau<i class="fas fa-angle-right content-icon"></i></button>
        </div>*@
</div>
