
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="~/Public/css/app.css" rel="stylesheet" />
</head>
<body>
    <div class="chart-layout">
        <div class="chart-layout__item" style="--percent: 10%">10%</div>
        <div class="chart-layout__item" style="--percent: 20%">20%</div>
        <div class="chart-layout__item" style="--percent: 40%">40%</div>
        <div class="chart-layout__item" style="--percent: 70%">70%</div>
        <div class="chart-layout__item" style="--percent: 50%">50%</div>
        <div class="chart-layout__item" style="--percent: 10%">10%</div>
        <div class="chart-layout__item" style="--percent: 20%">20%</div>
        <div class="chart-layout__item" style="--percent: 40%">40%</div>
        <div class="chart-layout__item" style="--percent: 70%">70%</div>
        <div class="chart-layout__item" style="--percent: 50%">50%</div>
        <div class="chart-layout__item" style="--percent: 10%">10%</div>
        <div class="chart-layout__item" style="--percent: 20%">20%</div>
        <div class="chart-layout__item" style="--percent: 40%">40%</div>
        <div class="chart-layout__item" style="--percent: 70%">70%</div>
        <div class="chart-layout__item" style="--percent: 50%">50%</div>
    </div>
    <img src="/img/tristan-yajuu-bour-illustration8.jpg" alt="" srcset="">
</body>
</html>
