
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 60px"></div>
<div class="m-title">Danh mục sản phẩm</div>
<div class="card" ng-app="Admin">
    <div class="card-body" ng-controller="ProductController">
        <div class="m-btn-control">
            Sắp xếp:
            <select style="font-size: 16px; padding: 6px; margin-right: 10px; outline: none" ng-model="sortcolumn">
                <option value="Product_id" selected="selected">Mã sản phẩm</option>
                <option value="Product_title">Tên sản phẩm</option>
                <option value="Price">Giá bán</option>
            </select>
            @*<button type="button" ng-click="Chon(direct)" class="btn btn-success m-btn">{{direct}}</button>*@
            <div class="search-container" style="padding-bottom: 10px">
                Tìm kiếm:
                <input type="text" placeholder="Search.." name="search" ng-model="searchText">
            </div>
        </div>
        <table class="table table-bordered m-table">
            <thead>
                <tr>
                    @*<th style="text-align: center" scope="col">Mã</th>*@
                    <th style="text-align: center" scope="col">Tên</th>
                    <th style="text-align: center" scope="col">Tác giả</th>
                    <th style="text-align: center" scope="col">Giá bán</th>
                    <th style="text-align: center" scope="col">Mô tả</th>
                    <th style="text-align: center; width: 100px" scope="col">Ảnh lớn</th>
                    <th style="text-align: center; width: 100px;" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr style="overflow-y: hidden" dir-paginate="product in orders|orderBy:sortcolumn:reverse|filter:searchText|itemsPerPage:5" toltal-items="totalCount">
                    @*<td style="height: 50px">{{product.Product_id}}</td>*@
                    <td style="height: 50px">{{product.Product_title}}</td>
                    <td style="height: 50px">{{product.Author}}</td>
                    <td style="height: 50px">{{product.Price}}</td>
                    <td style="height: 50px">{{product.Description}}</td>
                    <td style="height: 50px"><img src="{{product.Big_image_url}}" /> </td>
                    <td style="font-size: 20px; line-height: 50px; padding-left: 15px">
                        <a><i class="fas fa-edit" data-toggle="modal" data-target="#myModal_Edit" ng-click="Edit(product)"></i></a>
                        <a><i class="fas fa-trash-alt" ng-click="Delete(product)"></i></a>
                        <a><i class="fas fa-info-circle"></i></a>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 16px; margin-left: 10px"><i class="fas fa-plus" data-toggle="modal" data-target="#myModal_Add" ng-click="Add()"></i></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <div id="toast"></div>

        <div class="pagination">
            <button type="button" ng-click="showSuccessToast();" class="btn btn-success m-btn" value="Cập nhật"><i class="fas fa-edit"></i> Cập nhật</button>
            <dir-pagination-controls max-size="maxSize"
                                     direction-links="true"
                                     boundary-links="true">
            </dir-pagination-controls>
        </div>

        <div class="m-modal modal fade " id="myModal_Add" role="dialog">
            <div class="modal-dialog">

                 Modal content
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm sản phẩm</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Mã sản phẩm:</label>
                                <input type="text" ng-model="Product_id"/>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Tên sản phẩm:</label>
                                <input type="text" ng-model="Product_title"/>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Mã loại:</label>
                                <input type="text" value="l1" ng-model="Category_id"/>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Nhà xuất bản:</label>
                                <input type="text" value="p1" ng-model="Publisher_id"/>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Tác giả:</label>
                                <input type="text" ng-model="Author"/>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Giá bán:</label>
                                <input type="text" ng-model="Price"/>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Số lượng:</label>
                                <input type="text" value="1" ng-model="Quantity"/>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Mô tả:</label>
                                <input type="text" ng-model="Description"/>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Ảnh nhỏ:</label>
                                <input type="text" ng-model="Image_url" />
                                <!--<input type="file" multiple="multiple" ngf-select="UploadFiles($file, 'Anh')"--> @*ng-model="Image_url"*@<!--/>-->
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Ảnh lớn:</label>
                                <input type="text" ng-model="Big_image_url" />
                                <!--<input type="file" id="imgAnhTo" ngf-select="UploadFiles($file, 'AnhTo')"--> @*ng-model="Big_image_url"*@<!--/>-->
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="SaveAdd()">Save changes</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="m-modal modal fade " id="myModal_Edit" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Sửa sản phẩm</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Mã sản phẩm:</label>
                                <input type="text" ng-model="e_product.Product_id" disabled />
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Tên sản phẩm:</label>
                                <input type="text" ng-model="e_product.Product_title" />
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Mã loại:</label>
                                <input type="text" ng-model="e_product.Category_id" />
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Nhà xuất bản:</label>
                                <input type="text" ng-model="e_product.Publisher_id" />
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Tác giả:</label>
                                <input type="text" ng-model="e_product.Author" />
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Giá bán:</label>
                                <input type="text" ng-model="e_product.Price" />
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Số lượng:</label>
                                <input type="text" ng-model="e_product.Quantity" />
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Mô tả:</label>
                                <input type="text" ng-model="e_product.Description" />
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Ảnh nhỏ:</label>
                                <input type="text" ng-model="e_product.Image_url"/>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Ảnh lớn:</label>
                                <input type="text" ng-model="e_product.Big_image_url" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="Update()">Save changes</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




