<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Publics/CSS/admin-style.css" rel="stylesheet" />
    <title>StoreBook's Management</title>
</head>
<body>
    <div id="main">
        <div class="dashboard">
            <div class="dashboard-top">
                <div class="shop-info" onclick="window.location='/admin'">
                    <img src="~/Areas/Admin/Publics/Images/IMG_1568.JPG" />
                    <span class="shop-name">Book Store</span>
                </div>
                <div class="sub-menu">
                    <i class="fas fa-shopping-cart icon"></i>
                    <span class="title">Bán hàng</span>
                    <i class="fas fa-angle-down icon-down"></i>
                </div>
                <div class="dropdown-container">
                    <div class="sub-menu-down">
                        <i class="fas fa-shopping-cart icon"></i>
                        <span class="title">Bán hàng</span>
                    </div>
                    <div class="sub-menu-down">
                        <i class="fas fa-undo icon"></i>
                        <span class="title">Trả hàng</span>
                    </div>
                </div>
                <div class="sub-menu">
                    <i class="fas fa-copy icon"></i>
                    <span class="title">Đơn hàng</span>
                    <i class="fas fa-angle-down icon-down"></i>
                </div>
                <div class="dropdown-container">
                    <div class="sub-menu-down">
                        <i class="fas fa-copy icon"></i>
                        <span class="title" onclick="window.location='/admin/order'">Đơn hàng</span>
                    </div>
                    <div class="sub-menu-down">
                        <i class="fas fa-exchange-alt icon"></i>
                        <span class="title">Danh sách trả hàng</span>
                    </div>
                </div>
                <div class="sub-menu">
                    <i class="fas fa-tshirt icon"></i>
                    <span class="title">Sản phẩm</span>
                    <i class="fas fa-angle-down icon-down"></i>
                </div>
                <div class="dropdown-container">
                    <div class="sub-menu-down">
                        <span class="title" onclick="window.location='/admin/product'">Quản lý sản phẩm</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title" onclick="window.location='/admin/category'">Quản lý loại</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Nhập hàng</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Xuất hàng</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Chuyển kho</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Xuất-Nhập kho</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Khuyến mại</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Combo sản phẩm</span>
                    </div>
                </div>
                <div class="sub-menu">
                    <i class="fas fa-user-friends icon"></i>
                    <span class="title">Khách hàng</span>
                </div>
                <div class="sub-menu">
                    <i class="fas fa-exchange-alt icon"></i>
                    <span class="title">Thu chi</span>
                </div>
                <div class="sub-menu">
                    <i class="fas fa-chart-line icon"></i>
                    <span class="title">Thống kê</span>
                    <i class="fas fa-angle-down icon-down"></i>
                </div>
                <div class="dropdown-container">
                    <div class="sub-menu-down">
                        <span class="title">Quản lý thống kê</span>
                        <span class="title">Quản lý thống kê</span>
                        <span class="title">Quản lý thống kê</span>
                        <span class="title">Quản lý thống kê</span>
                        <span class="title">Quản lý thống kê</span>
                        <span class="title">Quản lý thống kê</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Báo cáo doanh thu</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Báo cáo đơn hàng</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Báo cáo tài chính</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Báo cáo doanh số</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Vận chuyển</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Nhập hàng</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Xuất nhập kho</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Khách hàng</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Thu chi</span>
                    </div>
                </div>
                <div class="sub-menu">
                    <i class="fas fa-cog icon"></i>
                    <span class="title">Cấu hình</span>
                </div>
                <div class="sub-menu">
                    <i class="fas fa-home icon"></i>
                    <span class="title">Kho hàng</span>
                    <i class="fas fa-angle-down icon-down"></i>
                </div>
                <div class="dropdown-container">
                    <div class="sub-menu-down">
                        <span class="title">Khuyến mại</span>
                    </div>
                    <div class="sub-menu-down">
                        <span class="title">Combo sản phẩm</span>
                    </div>
                </div>
            </div>
            <div class="dashboard-bottom">
                <hr style="margin: 10px 0;">
                <div class="sub-menu">
                    <i class="fas fa-th-large icon"></i>
                    <span class="title">Bảng điều khiển</span>
                </div>
                <div class="sub-menu">
                    <i class="fas fa-question-circle icon"></i>
                    <span class="title">Trung tâm hỗ trợ</span>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="nav-bar">
                <img src="~/Areas/Admin/Publics/Images/menu-bars-icon-7.jpg" />
                <span class="header-title">TỔNG QUAN</span>
                <ul>
                    <li class="nav-items"><i class="far fa-clock fa-2x nav-icon"></i></li>
                    <li class="nav-items"><i class="far fa-bell fa-2x nav-icon"></i></li>
                    <li class="nav-items"><i class="far fa-user fa-2x nav-icon"></i></li>
                </ul>
            </div>

            @RenderBody()
        </div>
    </div>
    <div id="footer"></div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/Controller/angular.min.js"></script>
    <script src="~/Scripts/dirPagination.js"></script>
    <script src="~/Scripts/ng-file-upload.min.js"></script>
    <script src="~/Scripts/Controller/AdminController.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Publics/JS/scripts.js"></script>
    <script src="~/Scripts/Controller/Login.js"></script>
</body>
</html>
