<div class="app" ng-app="ProductController">
    <div class="nav-container nav-container-visible">
        <div class="nav-inner grid">
            <div class="nav-brand">
                <a href="/">Book Store</a>
            </div>

            <div class="clear"></div>

            <div class="nav-links">
                <ul class="nav-content">
                    <li class="list-item">
                        <a href="" class="nav-item ">Thể loại</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-title" ng-repeat="category in categories"><a href="/home/category" ng-click="selectCategory(category.Category_id)">{{category.Category_name}}</a></li>
                            
                        </ul>
                    </li>
                    <li><a href="#footer" class="nav-item">Giới thiệu</a></li>
                    <li><a href="/cart" class="nav-item">Giỏ hàng</a></li>
                </ul>

                

                <ul class="nav-login">
                    <li><a href="/login" ng-click="Login()">Đăng nhập</a></li>
                    |
                    <li><a href="/register">Đăng ký</a></li>
                </ul>
            </div>

            <div class="nav-links-logged">
                <div class="nav-search">
                    <input type="text" name="" ng-model="searchText" id="nav-logged-search" placeholder="Tìm kiếm sách">

                    @*START: Nav-search-result*@
                    <div ng-controller="ProductController" class="nav-search-result">
                        <div ng-repeat="product in products | filter:searchText" class="nav-search-result-item">
                            <a href="/home/detail/{{product.Product_id}}">
                                <img src="{{product.Image_url}}" alt="{{product.Product_title}}" class="search-result-img">
                            </a>
                            <div class="flex-column">
                                <span class="search-result-heading">{{product.Product_title}}</span>
                                <span class="search-result-desc">{{product.Description}}</span>
                            </div>
                        </div>

                        <div class="nav-search-result-more">
                            Xem nhiều kết quả hơn về ...
                        </div>
                    </div>
                    @*END: Nav-search-result*@
                </div>
                <ul class="nav-content">
                    <li class="list-item">
                        <a href="" class="nav-item">Thể loại</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-title" ng-repeat="category in categories"><a href="/home/category" ng-click="selectCategory(category.Category_id)">{{category.Category_name}}</a></li>

                        </ul>
                    </li>
                    <li><a href="#footer" class="nav-item">Giới thiệu</a></li>
                    <li><a href="/cart" class="nav-item">Giỏ hàng</a></li>
                </ul>

                <ul class="nav-login">
                    @*làm vùng hiển thị tài khoản gồm ảnh đại diện và tên hiển thị, cho phép chọn để thực hiện đăng xuất,
            quản lý tài khoản*@
                    <li class="nav-account-zone">
                        <img class="nav-account-zone__logo" src="~/Public/img/IMG_1568.jpg" alt="account-logo">

                        <div class="me-management-zone">
                            <div class="account-info">
                                <a href="#"><img src="~/Public/img/IMG_1568.jpg" alt="">Nguyen Anh Tuan</a>
                            </div>
                            <div class="account-management-zone">
                                <ul>
                                    <li class="your-cart" onclick="window.location='/cart';"><i class="fas fa-shopping-cart icon"></i>Giỏ hàng của bạn (0)</li>
                                    <li class="your-account"><i class="fas fa-user-circle icon"></i>Tài khoản của bạn</li>
                                    <li class="change-account"><i class="fas fa-users icon"></i>Chuyển đổi tài khoản</li>
                                    <li class="logout" ng-click="Logout()"><i class="fas fa-sign-out-alt icon"></i>Đăng xuất</li>
                                </ul>
                            </div>
                            <div class="website-management-zone">
                                <ul>
                                    <li class="dark-light-theme"><i class="fas fa-adjust icon"></i>Giao diện: Sáng</li>
                                    <li class="language"><i class="fas fa-language icon"></i>Ngôn ngữ: Tiếng Việt</li>
                                    <li class="setup"><i class="fas fa-cog icon"></i>Cài đặt</li>
                                </ul>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>

            <div class="move-header">
                <a href="#"><i class="fas fa-arrow-up"></i></a>
            </div>
        </div>
    </div>

</div>