
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 60px"></div>
<div id="content" ng-controller="BestSellerController">
    <div class="content-title">Sản phẩm bán chạy</div>

    <div class="content-container">

        <div class="card-product" ng-repeat="product in products_bestseller">
            <a href="/home/detail/{{product.Product_id}}">
                <img src="{{product.Image_url}}" alt="{{product.Product_title}}" class="product-img">
            </a>
            <div class="product-info">
                <div class="product-heading">{{product.Product_title}}</div>
                <div class="product-price">
                    Giá bán:
                    <span class="product-price-value-strikethrough">{{product.Price}}</span>
                    <span class="product-price-value">{{product.Price}}</span>
                </div>
                <div class="product-desc">
                    <div class="btn-buy" ng-click="AddCart(product); plusTotal(product.Price)"><i class="fas fa-shopping-cart"></i></div>
                    <div class="btn-detail"><i class="far fa-eye"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="btn-prev-next-page">
        <button class="prev-page" ng-click="GetSanPhamListM()"><i class="fas fa-angle-left content-icon"></i>Trang trước</button>
        <button class="next-page" ng-click="GetSanPhamListP()">Trang sau<i class="fas fa-angle-right content-icon"></i></button>
    </div>
</div>
